@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Sign Up";
}
<title>Sign Up</title>
<form action="/SignUp/Index" method="post">
    <br />
    <label>Name Surname</label>
    <br />
    <input type="text" class="form-control" name="Name" placeholder="enter your name and surname" />
    <br />
    <br />
    <br />
    <label>Username</label>
    <br />
    <input type="text" class="form-control" name="Username" placeholder="enter your username" />
    <br />
    <br />
    <label>Password</label>
    <br />
    <br />
    <input type="password" class="form-control" name="Password" placeholder="enter your password" />
    <br />
    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Sign Up" />
</form>