@{

    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Agenda";
}
@model List<PostViewModel>

<nav aria-label="Page nagivation example">
    <ul class="pagination">
        @{
            for (int i = 0; i < @ViewBag.pageingCount; i++)
            {
                int pageName = i + 1;
                <li class="page-item">
                    <a class="page-link" href="?page=@pageName"> @pageName </a>
                </li>
            }
        }
    </ul>
</nav>

@foreach (var item in Model)
 {
    <h1>@item.Title </h1>
    <p> @item.Content</p>
 }



